# Add new jump table entries to the end of this file
boot
reboot
sysInterrupt
contextSwitch
formatMem
memSeekToStart
malloc
free
getCurrentThreadID
startThread
killCurrentThread
killThread
waitKey
getKey
flushKeys
clearBuffer
fastCopy
getPixel
setPixel
resetPixel
invertPixel
drawLine
putSpriteOR
putSpriteAND
putSpriteXOR
rectXOR
rectOR
rectAND
putSprite16XOR
putSprite16OR
putSprite16AND
suspendDevice
unlockFlash
lockFlash
lcdDelay
cpHLDE
cpHLBC
cpBCDE
cpDEBC
stringLength
getBatteryLevel
DEMulA
compareStrings
quicksort
launchProgram
allocScreenBuffer
loadLibrary
div32By16
sub16from32
divHLbyC
divACbyDE
getTimeInTicks
setClock
getTime
convertTimeFromTicks
getThreadEntry
setReturnPoint
suspendCurrentThread
getLcdLock
getKeypadLock
getIoLock
getUsbLock
hasLcdLock
hasKeypadLock
hasIoLock
hasUsbLock
resumeThread
getBootCodeVersionString
copyFlashPage
copySectorToSwap
eraseFlashSector
eraseFlashPage
writeFlashBuffer
writeFlashByte
eraseSwapSector
convertTimeToTicks
memset
setInitialHL
setInitialDE
createSignal
readSignal
memSeekToEnd
hexToA
hexToHL
stringCopy
deleteFile
fileExists
findFileEntry
openFileRead
getStreamEntry
closeStream
streamReadByte
streamReadWord
streamReadBuffer
streamReadToEnd
getStreamInfo
drawChar
drawCharAND
drawCharXOR
drawStr
drawStrAND
drawStrXOR
drawStrFromStream
drawHexA
measureChar
measureStr